

<div class="strokeme">
  <header>
    <h2> < these are the vunerable acc0unts in your database: > </h2>
  </header>

  <h4 class="info">
    <% @matches.each do |m| %>
    <h4 class= "result"> user email: <%= m.email %> </h4>
    <h4 class= "result"> encrypted passw0rd: <%= m.password %> </h4>
    <% if @easy_words_key[m.id] %>
    <h4 class= "result"> unencrypted passw0rd: <%= @easy_words_key[m.id] %></h4>
    <% end %>
    <% end %>
    <p class = "time">> t0tal matches: <%= @matches.length %> <p>
    </h4>
    <div>
      <div>
       <p class = "time"> <%= "scanned in #{@time} seconds" %></p>

     </div>
     <center><h2> _fun facts about passwords_ </h2></center>

     <p class ="facts">in the last year 2 out of 5 people have had there accounts hacked.</p>
     <p class ="facts"> 50% of password are over 5 years old </p>
     <p class ="facts"> 73% of accounts are guarded with duplicate passwords </p>
     <p class ="facts"> 54% of people use 5 or fewer passwords in there life </p>
     <p class ="facts"> on average only about 6 passwords are used to guard an average of 24 accounts </p>
   </div>

</div>




