<!DOCTYPE html>
<head>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <title>Db:scan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

</style>

</head>
<body>

<ul>
  <% if current_user %>
  <li><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
   <% else %>  
  <li><%= link_to "Sign In", "/users/sign_in"%></li>
  <li><%= link_to "Sign Up", "/users/sign_up"%></li>
  <% end %>
</ul>



<%= yield %>

</body>
</html>
