<!DOCTYPE html>
<head>
<title> DB:Scan</title>
<meta charset="utf-8"/>

<link rel="stylesheet" href="style.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <title>Db:scan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header class="mainheader" >
    <nav><ul>
      <li><a href="/"> h0me</a></li>
      <li><a href="/contact"> c0ntact</a></li>
      <li><a href="/scan"> simple scan </a></li>
      <li><a href="/tricky_scan"> tricky scan </a></li>
      <% if current_user %>
  <li><%= link_to "sign 0ut", "/users/sign_out", method: :delete %></li>
   <% else %>  
  <li><%= link_to "sign In", "/users/sign_in"%></li>
  <li><%= link_to "sign Up", "/users/sign_up"%></li>
  <% end %>
</ul></nav>
</header>



<%= yield %>

</body>
</html>
